.Chat{

    width: 100%;
    display: flex;
    flex-direction: column;
    .appbar{
        width: 100%;
        position: static;
        background-color: #3C4252;
        .currentUser{
            display: flex;
            align-items: center;
            cursor: pointer;
            .outer{
                position: relative;
                .inner{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    margin: -2px;
                    z-index: 10;
                }
            }
            .name{
                margin-left: 20px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .chatBoxWrapper{
        height: calc(100vh - 64px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .chatBoxTop{
            height: 100%;
            width: 100%;
            overflow-y: scroll;
            &::-webkit-scrollbar-track
            {
                border-radius: 10px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar
            {
                width: 7px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                background-color: rgb(173, 173, 173);
            }
        }
        .chatBoxBottom{
            .paper{
                margin: 10px;
                border-radius: 20px;
                form{
                    padding-left: 15px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}